body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

#td1{
     border-bottom: none !important;
    border-left:none !important;
    border-right:none !important;
}
#td2{
      border-bottom: none !important;
    border-left:none !important;
    border-right:none !important;
}
#td3{
       border-bottom: none !important;
    border-left:none !important;
    border-right:none !important;
}
#td4{
      border-bottom: none !important;
    border-left:none !important;
    border-right:none !important;
}
#td5{
      border-bottom: none !important;
    border-right:none !important;
}
#td6{
      border-bottom: none !important;
    border-left:none !important;
    border-right:none !important;
}
#td7{
      border-bottom: none !important;
    border-left:none !important;
    
}
#td8{
      border-bottom: none !important;
    border-left:none !important;   
}
#reportName{
    display:none;
    margin-top: 0px;
}
#printBr{
    display:none;
}
#arHover,#srHover,#npHover{
     /*display: inline;*/
    position: relative;
}
#arHover:hover:after,#srHover:hover:after,#npHover:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title); /*insert title string from this element*/
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 220px;
}
#arHover:hover:before,#srHover:hover:before,#npHover:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}
.mainTable th {
    text-align:center; 
    vertical-align:middle;
}
.mainTable td{
    text-align:center; 
    vertical-align:middle;
}
#itemNoWrap{
    white-space: nowrap;
}
#mainMenuTop{
    color:white;
}

/*#reportTitle{
    display:none;
}*/
