body {
    padding-top: 0px;
    padding-bottom: 0px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

#createBtnTop{
    display:none;
}

#currDispl{
    display:none;
}
#filtTool{
    display:none;
}
#deptNameTop{
    display:none;
}
#wcNameTop{
    display:none;
}
#currDisplTable{
    font-size:12px;
    font-weight :bolder;
}
#testPrint4{
    display:none;
}
#mainPrint{
    display:none;
}
#Export{
    display:none;
}
.mainTable{
    font-size:8px;
    width:auto;
    page-break-inside: avoid
}
#editsTable{
    display:none;
}
#sumQuantities{
    color:red;
    font-weight:bold;
    border-bottom: none !important;
    border-left:hidden;
    border-right:hidden;
}
#wcNameTable{
    font-size:10px;
    page-break-inside:avoid;
}
#mainFooter{
    font-size:10px;    
}
#td1,#td2,#td3,#td4,#td6{
     border-bottom: none !important;
    border-left:none !important;
    border-right:none !important;
}
/*#td2{
      border-bottom: none !important;
    border-left:none !important;
    border-right:none !important;
}
#td3{
       border-bottom: none !important;
    border-left:none !important;
    border-right:none !important;
}
#td4{
      border-bottom: none !important;
    border-left:none !important;
    border-right:none !important;
}*/
#td5{
      border-bottom: none !important;
    border-right:none !important;
}
/*#td6{
      border-bottom: none !important;
    border-left:none !important;
    border-right:none !important;
}*/
#td7{
      border-bottom: none !important;
    border-left:none !important;
    
}
#td8{
      border-bottom: none !important;
    border-left:none !important;   
}
#reportName{
    text-align:center;
}
#navigationBar{
    display:none;
}
.mainTable th {
    text-align:center; 
    vertical-align:middle;
}
.mainTable td{
    text-align:center; 
    vertical-align:middle;
}

/*#totalSumHours
#totalSumSetup
#totalSumCleaning
#totalSumDown
#totalSumOther
#totalSumNonC*/