@{
    ViewBag.Title = "About";
}
<div id="imageContainer"
     style="
    width: 100%;
    height: 300px;
    background-image: url('~/Content/images/DSCN8773.JPG');
    
    /*background-image: url('../../Content/images/DSCN8773.JPG');*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    ">
</div>
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<p>System have been created in 2015 for WaterSaver Faucet Co.</p>
<p>All rights reserved by WaterSaver Faucet Co.</p>
<p>Ver. 1.0.12
    
    </p>
