@{
    ViewBag.Title = "Contact";
}

<div id="imageContainer"
     style="
    width: 100%;
    height: 300px;
    background-image: url('../../Content/images/hdr08_watersaver F.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-attachment: fixed;
    ">
</div>
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    701 West Erie Street<br />
    Chicago, IL 60654<br />
    <abbr title="Phone">Phone:</abbr>
    (312) 666-5500
</address>

<address>
    <strong>Software engineer :</strong> <a href="mailto:lcichocki@wsflab.com">Luke Cichocki</a><br />
</address>