@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>WaterSaver Faucet Co. - MVC MachineShop prototype 1.1</h1>
    <p class="lead">This is testing enviroment for Machine Shop system project.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Internal INTRANET website.</h2>
        <p>
            Go to INTRANET website.
        </p>
        <p><a class="btn btn-default" href="http:\\intranet\">Go to Intranet &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Guardian Equipment Website.</h2>
        <p>Click button to go to GE website.</p>
        <p><a class="btn btn-default" href="http:\\www.gesafety.com/">Got o GE... &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>WaterSaver Faucet  Website</h2>
        <p>Click button to go to WSF website.</p>
        <p><a class="btn btn-default" href="http:\\www.wsflab.com">Go to WSF... &raquo;</a></p>
    </div>
</div>