@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Machine Shop production reports.</h1>
    <p class="lead">Make a choice of department which you like to work on.</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#Dept1010" aria-expanded="false" aria-controls="Dept1010">
            <h2>Department 1010</h2>
        </button>
        <div class="collapse" id="Dept1010">
            <div class="well">

                @Html.ActionLink(
                                             linkText: "01-01",
                                             actionName: "Index",
                                             controllerName: "MachineShop",
                                             routeValues: new{Department="Department 1010",WorkCenter = "01-01"}, 
                                             htmlAttributes: new { @class = "btn btn-default" }
                                )

                @*<p>@Html.ActionLink("Main Table", "Index", "MachineShop", ViewData["TestHomeView"]= "Text from index cshtml, from Home View", new {@class="btn btn-default"})</p>*@

                @*Html.ActionLink = return link A anchor element.
                Structure : ("Link Text", controller action name class, controller name,  route values , html attributes)

                html attributes examples:
                new {style="float:left"})
                    *@

                @*<p><a class="btn btn-default" href="http:\\intranet\">01-01 &raquo;</a></p>*@
                <p><a class="btn btn-default" href="http:\\intranet\">01-02 &raquo;</a></p>
                <p><a class="btn btn-default" href="http:\\intranet\">01-03 &raquo;</a></p>
                <p><a class="btn btn-default" href="http:\\intranet\">01-04 &raquo;</a></p>
                <p><a class="btn btn-default" href="http:\\intranet\">01-05 &raquo;</a></p>
                <p><a class="btn btn-default" href="http:\\intranet\">02-01 &raquo;</a></p>
                <p><a class="btn btn-default" href="http:\\intranet\">02-03 &raquo;</a></p>
                <p><a class="btn btn-default" href="http:\\intranet\">02-04 &raquo;</a></p>
                <p><a class="btn btn-default" href="http:\\intranet\">07-05 &raquo;</a></p>
            </div>
        </div> 
        @*<h2>Department 1010</h2>
        
        <p><a class="btn btn-default" href="http:\\intranet\">01-01 &raquo;</a></p>
        <p><a class="btn btn-default" href="http:\\intranet\">01-02 &raquo;</a></p>
        <p><a class="btn btn-default" href="http:\\intranet\">01-03 &raquo;</a></p>
        <p><a class="btn btn-default" href="http:\\intranet\">01-04 &raquo;</a></p>
        <p><a class="btn btn-default" href="http:\\intranet\">01-05 &raquo;</a></p>
        <p><a class="btn btn-default" href="http:\\intranet\">02-01 &raquo;</a></p>
        <p><a class="btn btn-default" href="http:\\intranet\">02-03 &raquo;</a></p>
        <p><a class="btn btn-default" href="http:\\intranet\">02-04 &raquo;</a></p>
        <p><a class="btn btn-default" href="http:\\intranet\">07-05 &raquo;</a></p>*@

    </div>
    <div class="col-md-4">
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#Dept1020" aria-expanded="false" aria-controls="Dept1020">
            <h2>Department 1020</h2>
        </button>
        <div class="collapse" id="Dept1020">
            <div class="well">
                <p><a class="btn btn-default" href="http:\\intranet\">03-01 &raquo;</a></p>
                <p><a class="btn btn-default" href="http:\\intranet\">03-02 &raquo;</a></p>
                <p><a class="btn btn-default" href="http:\\intranet\">05-02 &raquo;</a></p>
                <p><a class="btn btn-default" href="http:\\intranet\">05-03 &raquo;</a></p>
                <p><a class="btn btn-default" href="http:\\intranet\">05-04 &raquo;</a></p>
                <p><a class="btn btn-default" href="http:\\intranet\">05-06 &raquo;</a></p>
                <p><a class="btn btn-default" href="http:\\intranet\">05-07 &raquo;</a></p>
                <p><a class="btn btn-default" href="http:\\intranet\">05-08 &raquo;</a></p>
                <p><a class="btn btn-default" href="http:\\intranet\">05-09 &raquo;</a></p>
                <p><a class="btn btn-default" href="http:\\intranet\">05-10 &raquo;</a></p>
                <p><a class="btn btn-default" href="http:\\intranet\">06-01 &raquo;</a></p>
                <p><a class="btn btn-default" href="http:\\intranet\">06-02 &raquo;</a></p>
                <p><a class="btn btn-default" href="http:\\intranet\">06-03 &raquo;</a></p>
                <p><a class="btn btn-default" href="http:\\intranet\">06-04 &raquo;</a></p>
            </div>
        </div> 

        @*<h2>Department 1020</h2>
        <p><a class="btn btn-default" href="http:\\intranet\">03-01 &raquo;</a></p>
        <p><a class="btn btn-default" href="http:\\intranet\">03-02 &raquo;</a></p>
        <p><a class="btn btn-default" href="http:\\intranet\">05-02 &raquo;</a></p>
        <p><a class="btn btn-default" href="http:\\intranet\">05-03 &raquo;</a></p>
        <p><a class="btn btn-default" href="http:\\intranet\">05-04 &raquo;</a></p>
        <p><a class="btn btn-default" href="http:\\intranet\">05-06 &raquo;</a></p>
        <p><a class="btn btn-default" href="http:\\intranet\">05-07 &raquo;</a></p>
        <p><a class="btn btn-default" href="http:\\intranet\">05-08 &raquo;</a></p>
        <p><a class="btn btn-default" href="http:\\intranet\">05-09 &raquo;</a></p>
        <p><a class="btn btn-default" href="http:\\intranet\">05-10 &raquo;</a></p>
        <p><a class="btn btn-default" href="http:\\intranet\">06-01 &raquo;</a></p>
        <p><a class="btn btn-default" href="http:\\intranet\">06-02 &raquo;</a></p>
        <p><a class="btn btn-default" href="http:\\intranet\">06-03 &raquo;</a></p>
        <p><a class="btn btn-default" href="http:\\intranet\">06-04 &raquo;</a></p>*@


    </div>
    <div class="col-md-4">
        @*<h2>Department 1030</h2>
        <p><a class="btn btn-default" href="http:\\intranet\">07-02 &raquo;</a></p>
        <p><a class="btn btn-default" href="http:\\intranet\">07-03 &raquo;</a></p>
        <p><a class="btn btn-default" href="http:\\intranet\">07-06 &raquo;</a></p>
        <p><a class="btn btn-default" href="http:\\intranet\">07-08 &raquo;</a></p>
        <p><a class="btn btn-default" href="http:\\intranet\">07-09 &raquo;</a></p>
        <p><a class="btn btn-default" href="http:\\intranet\">07-10 &raquo;</a></p>*@    
        
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#Dept1030" aria-expanded="false" aria-controls="Dept1030">
            <h2>Department 1030</h2>
        </button>
        <div class="collapse" id="Dept1030">
            <div class="well">
                <p><a class="btn btn-default" href="http:\\intranet\">07-02 &raquo;</a></p>
                <p><a class="btn btn-default" href="http:\\intranet\">07-03 &raquo;</a></p>
                <p><a class="btn btn-default" href="http:\\intranet\">07-06 &raquo;</a></p>
                <p><a class="btn btn-default" href="http:\\intranet\">07-08 &raquo;</a></p>
                <p><a class="btn btn-default" href="http:\\intranet\">07-09 &raquo;</a></p>
                <p><a class="btn btn-default" href="http:\\intranet\">07-10 &raquo;</a></p>
            </div>
        </div> 
    </div>

    

</div>